html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://images.unsplash.com/photo-1443110189928-4448af4a2bc5?dpr=1&auto=compress,format&fit=crop&w=1797&h=&q=80&cs=tinysrgb&crop=);
}
